@media (max-width: 1000px) {


  .logo img {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 670px) {
  /* Ubah width milik lesson ke 100% */



  .header {
    width: 100%;
  }

  .footer {
    text-align: center;
  }
  #card {
    width: 100%;
  }

  .underline-title {
    width: 90%;
  }

  .logo img {
    text-align: center;
    width: 70%;
    margin-top: 20px;
  }
